@import 'tailwindcss';

html,
body {
	height: 100%;
}

body {
	overflow-y: auto;
	overscroll-behavior-y: auto;
}

@media (min-width: 768px) {
	body {
		overflow: hidden;
		overscroll-behavior-y: none;
	}
}
